[2012-08-08 12:03] trnc-ck opened #1 "Supporting CoffeeScript?"
nodefront would be perfect if it would automatically complie coffeescript in .js files. any chance you could implement this?

thanks!

[2012-08-08 13:44] mauricirododendro commented on #1
Can i ask you how can install nodefront on my pc?
I tried to follow hint:
npm install -g nodefront
 but I have error
Thank you very much

[2012-08-08 17:25] karthikv commented on #1
@clemenskroell It seems like there's quite a bit of demand for this and it shouldn't be difficult to implement. I'll get on it soon.

@mauricirododendro Do you have npm https://npmjs.org/ installed? What is the error you're getting? Could you direct any future comments to a different issue or to my email at me@karthikv.net? Thanks.

[2012-08-08 20:57] federicoweber commented on #1
I will also appreciate coffeescript support.

thanks.

[2012-08-09 03:07] karthikv commented on #1
CoffeeScript support has been added and version 0.0.4 has been released.

[2012-08-09 03:07] #1 closed, assigned to karthikv

[2012-08-09 12:42] dbr opened #2 "Catch errors while compiling"
If a `.jade` file contains anything invalid, it throws an error which kills `nodefront compile --live`

[code]

It'd be great if the error was displayed in the browser, so you don't have to look at the terminal to work out why the page stopped reloading

Other than that, it's working perfectly (I've been looking for something to simply reload an HTML file when I reload it - most other options are

[2012-08-09 17:03] karthikv commented on #2
Ah, you make a good point. I'll address this likely later today, but if something comes up, it may take longer.

[2012-08-10 03:01] karthikv commented on #2
Compilation errors are now caught. Version 0.0.5 has been released with the changes.

[2012-08-10 03:01] #2 closed, assigned to karthikv

[2012-08-11 07:35] colintoh opened #3 "Allow choice of IP address in setting up of server"

[2012-08-12 00:16] karthikv commented on #3
This has been added via the `-h/--hostname` option for the compile command in version 0.0.6.

[2012-08-12 00:16] #3 closed, assigned to karthikv

[2012-08-12 02:00] colintoh opened #4 "Compilation throwing "Cannot find module 'coffee-script'""
Updated to 0.06 and tried compiling for the first time.

I tried both **$ nodefront compile -l** and **$ nodefront compile -h 0.0.0.0 -r -l**

Got this error message:

_module.js:340
    throw err;
          ^
Error: Cannot find module 'coffee-script'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:362:17)

[2012-08-12 02:24] karthikv commented on #4
npm has a [known bug](https://github.com/isaacs/npm/issues/2390) with its update command in that it does not install new dependencies for packages. CoffeeScript was added as a dependency in version 0.0.4 and, because of this, has not been installed.

In turn, you'll need to uninstall and then reinstall nodefront, like so:

[code]

I'll update this in the README as the standard way to upgrade nodef

[2012-08-12 03:36] colintoh commented on #4
It worked as advertised. Thanks

[2012-08-12 03:36] #4 closed, assigned to nobody

[2012-08-15 02:12] colintoh opened #5 "Cant set Port Number"
It seems to only have port 3000

[2012-08-15 03:16] karthikv commented on #5
Ah, yes, you're right; port numbers work fine in serve mode, but fail to function in live mode. I'll get on this ASAP.

[2012-08-15 03:24] karthikv commented on #5
I just released version 0.0.7 with a fix. Let me know if you experience any further issues.

[2012-08-15 03:24] #5 closed, assigned to karthikv

[2012-08-15 10:40] ForbesLindesay opened #6 "consolidate.js"
Could you use [consolidate.js](https://github.com/visionmedia/consolidate.js) to support a much wider variety of templating engines?

[2012-08-15 10:45] ForbesLindesay opened #7 "nodefront doesn't do anything when you run it with no options"
As far as I'm aware, running `nodefront` with no options or command does nothing.  If that's the case, it would be useful if it could be equivalent to running `nodefront -h`

[2012-08-15 10:48] ForbesLindesay commented on #7
Also running `nodefront compile -h` prints `error: option '-h, --hostname <hostname>' argument missing` rather than printing help because the two command options clash.  I'd say either hostname should be re-named, or we should detect when -h is the only option and has no arguments.

[2012-08-15 10:50] ForbesLindesay opened #8 "nodefront doesn't serve index.html files"
It would be useful if nodefront served index.html files by default in the normal location.

[2012-08-15 12:22] ForbesLindesay opened #9 "Markdown in Jade doesn't work"
Can you support using `marked` with the markdown filter on `jade`.  If you add it to dependencies that should be sufficient.

[2012-08-15 12:28] ForbesLindesay commented on #9
Ah, it does if you do `npm install -g marked` first, perhaps a note in the docs then?

[2012-08-15 17:18] karthikv commented on #7
Yes, I agree. I'll get these two fixed up later today.

[2012-08-15 17:20] karthikv commented on #8
Do you mean visiting `http://localhost:3000/some/directory/` should serve `http://localhost:3000/some/directory/index.html`? If so, you make a good point; I'll fix this up soon as well.

[2012-08-15 17:22] ForbesLindesay commented on #8
Indeed, that's exactly what I meant :)

[2012-08-15 17:22] ForbesLindesay commented on #7
Thanks

[2012-08-15 17:26] karthikv commented on #9
I'm not sure whether `marked` should be included by default with nodefront; I think adding that note to the docs would be a better option for those who need markdown support.

[2012-08-15 17:27] ForbesLindesay commented on #9
Agreed, a note in the docs would be good for me.

[2012-08-15 17:29] karthikv commented on #6
Ah, I've never heard of consolidate.js until now, but it looks promising. I'll see what I can do.

[2012-08-15 17:30] karthikv commented on #6
By the way, thanks for all these issues! It's my pleasure to fix them and improve nodefront.

[2012-08-15 17:40] ForbesLindesay commented on #6
This was similar to something I started looking at producing myself, and you're further ahead than I was, so I figure it makes more sense to improve this.  consolidate.js is the recommended way of doing view engines in express now, so it's pretty popular.  You could support the same system as we do for marked (and document it) where people who want to be able to use say `ejs` templates in their si

[2012-08-15 17:46] karthikv commented on #6
Yes, definitely! As long as the languages fall under front-end development, that'll be fine. I don't want to extend the scope of nodefront to the backend as I feel it'll take away from the focus of the project.

[2012-08-15 18:03] ForbesLindesay commented on #6
Yeh, my thinking for nodefront would be to ultimately use it as a static site generator for github.

[2012-08-15 20:32] karthikv commented on #6
Ah, yes, I've heard a similar idea from others and I'm quite interested in the possibilities. It's certainly a nice use case for nodefront.

[2012-08-15 20:54] ForbesLindesay commented on #6
There are some more features that may be useful in the future with that in mind:
- plugin arcitecture of some sort
- (yaml based?) metadata
- something to allow markdown to have a layout template in another language.

[2012-08-15 23:08] ForbesLindesay commented on #6
I've now created [consolidate-build](https://github.com/ForbesLindesay/consolidate-build) which is essentially a much extended version of consolidate.js  It includes the original consolidate, so I recommend we use that instead for nodefront if possible.

[2012-08-16 04:54] karthikv commented on #7
These two issues have been solved in version 0.0.8, which was just released.

[2012-08-16 04:54] #7 closed, assigned to karthikv

[2012-08-16 04:55] karthikv commented on #8
This issue has been solved in version 0.0.8, which was just released.

[2012-08-16 04:55] karthikv commented on #9
This issue has been solved in version 0.0.8, which was just released.

[2012-08-16 04:55] #9 closed, assigned to karthikv

[2012-08-16 04:55] #8 closed, assigned to karthikv

[2012-08-16 05:35] karthikv commented on #6
Looks good! I plan on adding this in tomorrow and upping nodefront to version 0.1.0 afterwards. As noted in your first commit message, you should definitely add tests in for consolidate-build ASAP.

[2012-08-16 21:02] ForbesLindesay commented on #6
Tests added.  Coffee-Script doesn't work yet.  But I'll see if I can get it fixed tomorrow.

[2012-08-16 21:16] karthikv commented on #6
Great! I'll be sure to add you under the contributors section after I integrate consolidate-build.

[2012-08-17 05:59] karthikv commented on #6
I've just pushed out a version of nodefront with consolidate-build and I'm liking how the code is much cleaner for compilation (see commit above). Waiting on CoffeeScript support before I release version 0.1.0, as some tests are failing due to it. Let me know when you have that integrated.

Thanks for the contribution!

[2012-08-17 08:48] ForbesLindesay commented on #6
I've fixed coffee script support and added in a unit test for it.  I've force published it as 0.0.0.  From now on I'll go with:
- The major version will increase for any backward-incompatible changes.
- The minor version will increase for added languages.
- The patch version will increase for bug-fixes.

I've added you as a contributor so that if this becomes a more popular library you can also ra

[2012-08-17 18:29] karthikv commented on #6
Well done.

I released version 0.1.0 with consolidate-build integrated and added you under the contributors section. The next issue to tackle seems to be the metadata or plugin architecture you mentioned earlier. It'd be better to create a new issue for that, so I'll close this one shortly.

Would you like to discuss some of the ideas you have for the site generator via chat tomorrow? If you could

[2012-08-19 18:59] trnc-ck opened #10 "Live compiling doesn't work?"
hi,

i use the following command to start the compile daemon:

it compiles right, but doesn't refresh chrome and safari. i'm using the latest nodefront version.

here's the consollog:

thanks!

[2012-08-19 20:59] karthikv commented on #10
What does your directory structure look like? What file are you modifying when it doesn't refresh? Remember that if the file you're modifying is in a subdirectory, you'll need to provide the `-r` or `--recursive` option to nodefront. Also, keep in mind that the `-w` option is implied when using `-l`, so you don't need it.

[2012-08-19 20:59] #6 closed, assigned to karthikv

[2012-08-19 20:59] ForbesLindesay commented on #10
I'm having a similar problem, it doesn't seem to be injecting the update script for me.

P.S. the -w is implied by the -l, so can be left out.

[2012-08-19 21:09] ForbesLindesay commented on #10
Ah, Just worked out what it is, We write the the socket:

[code]

but the actual path in the browser is:

[code]

[2012-08-19 21:14] ForbesLindesay commented on #10
It's because of the feature of automatically serving index.html for directories

[2012-08-19 21:21] karthikv commented on #10
Oh, good catch. I'll address this shortly.

[2012-08-19 21:28] ForbesLindesay commented on #10
Just submitted a patch for it (didn't see your comment) but if you want to fix it differently that's fine.

[2012-08-20 01:18] karthikv commented on #10
This has been fixed in version 0.1.1. Let me know if you're still having issues!

[2012-08-20 01:18] #10 closed, assigned to karthikv

[2012-08-21 15:47] ForbesLindesay opened #14 "Dependency management"
We have a growing problem with a lot of dependencies.  Most are going to be needed most of the time, but we only need coffee-script, jade, stylus, request, etc. for specific tasks.  There are also loads (EJS, haml, less etc.) that we sometimes need but at the moment fore the user to install globally.  I came accross a library called squirrel when checking out yaml parsers on npm.  It works absolut

[2012-08-21 17:36] karthikv commented on #14
Sounds like a good idea. We could get rid of coffee-script, jade, stylus, adm-zip, mime, socket.io, and uglify.js. I believe request should be moved to devDependencies as well. This'll clean up quite a bit; we'll talk about it at our meeting.

[2012-08-21 18:40] ForbesLindesay commented on #14
Yeh, just figured I'd pop out some food for thought while I remembered.  This would cut the size by about 15Mb, which is currently most of the size of the download.

[2012-08-21 21:42] ForbesLindesay opened #15 "Version of q"
Would be good if we could update `q` and keep it up to date.  It should be perfectly backwards compatible at the moment and has some nice improvements.  I think we should generally move towards `0.8.x` for this, at least for now as it's better for development if we're always using the latest.  I usually just go for `*` for devDependencies unless there's a good reason not to?

[2012-08-22 04:43] karthikv commented on #15
I wouldn't mind switching these to #.x.x (where # is the current major version number). In this way, we'd be less prone to major, breaking changes.

[2012-08-22 04:46] karthikv opened #16 "Make test files smaller for easier debugging"
There is no need to have a 50+ line jade file to compile; not only does this make the tests take longer, but it also makes it harder to pinpoint errors because the difference output needs to be suppressed.

[2012-08-22 04:55] karthikv commented on #15
I have taken care of this in the commit above.

[2012-08-22 04:55] #15 closed, assigned to nobody

[2012-08-22 07:10] karthikv commented on #16
This has been addressed in the commit above.

[2012-08-22 07:10] #16 closed, assigned to karthikv

[2012-08-22 12:20] ForbesLindesay opened #17 "Log less stuff"
could we stop logging socket.io at debug level?  Even the info level logging seems fairly pointless.  If we get rid of as much extra logging as possible, it'll make our tests prettier and will give us more space to send the users meaningful messages in the console, rather than websocket stuff.

[2012-08-22 17:42] karthikv commented on #17
This has been taken care of in the commit above.

[2012-08-22 17:42] #17 closed, assigned to karthikv

[2012-08-23 10:55] ForbesLindesay opened #18 "Git Dependency"
I see we're using: git://github.com/karthikv/commander.js.git as our commander dependency rather than depending on the npm package.  I assume this is just because of [your pull request](https://github.com/visionmedia/commander.js/pull/75)?

Is that issue urgent enough that we can't wait for a pull request to be accepted into commander.js ?  The git dependency makes us require git to be installed o

[2012-08-23 17:57] karthikv commented on #18
It's quite an important issue, as I tend to like placing my command-line options upfront. I think users will find it unintuitive if they are not allowed to do so. Nevertheless, the severity has gone down due to the recent fix that somewhat solves the problem, so I guess we can switch back to the normal commander dependency. I'll update package.json later today.

In terms of the pull request, I've

[2012-08-24 17:32] karthikv commented on #18
This has been taken care of in the latest two commits, including the fix for running `nodefront` with no arguments.

[2012-08-24 17:32] #18 closed, assigned to nobody

[2012-08-24 17:43] karthikv opened #19 "Make compilation errors more descriptive"
For Jade compilation errors, nodefront currently prints out something along the lines of `Unexpected identifier` and nothing more. This doesn't tell the user enough information about what is wrong; more data needs to be provided.

[2012-08-24 18:05] karthikv opened #20 "Make serve track new files as they are created"
The current directory is only searched once for files to compile. New files that are created are not tracked until the serve command is re-run.

[2012-08-24 21:13] trnc-ck opened #21 "Compile options?"
hey,

it would be cool to set some compile options, e.g. the 'pretty' attribute for keeping whitespace when compiling jade...

maybe adding a config.json file where these options can be set?

thanks!

[2012-08-24 21:25] ForbesLindesay commented on #21
I'm currently working on sorting out exactly this feature.  Expect it to be released within a week or so if all goes well.

[2012-08-26 19:09] karthikv commented on #19
This has been addressed in the commit above.

[2012-08-26 19:09] #19 closed, assigned to nobody

[2012-08-28 05:19] karthikv commented on #21
I've added this feature in via the commit above. It'll be released in version 1.0.0, which should be fully available next week. Let me know if you'd prefer to use it now and I can give you some instructions on how to get a pre-release set up on your system.

I'm closing this issue, but don't hesitate to comment.

[2012-08-28 05:41] trnc-ck commented on #21
nice one, thanks. i'll wait till next week!

Am 28.08.2012 um 07:19 schrieb Karthik Viswanathan notifications@github.com:

[2012-08-29 23:28] karthikv opened #23 "TypeError: Object.keys called on non-object"
cc @ForbesLindesay

Error occurs in `commander-config` due to the `config.withSettings` call on the latest `master` branch. This happens when I run any nodefront command in most any directory; e.g. `nodefront minify script.js`. Traceback included below:

[code]

[2012-08-30 16:30] ForbesLindesay commented on #23
If you update the commander-config dependency to latest, it should be fixed.

I had assumed that commander always passed env as the first argument,  I have changed the withSettings method so that it searches for an argument that is of type object.  There should only be one of these because any arguments will not be of type object.

[2012-08-30 21:28] karthikv commented on #23
Ah, that makes sense. I think there should be a way to specify those positional arguments as well, though, via the config file. Is there any reason why you chose to make commander-config work specifically with commander.js? I think it can be generalized so as to provide a `getSettings` function that simply returns an object with the settings. That way, we can incorporate it into Nodefront for not

[2012-08-31 17:13] ForbesLindesay commented on #23
I've updated the readme for commander-config.  It actually exposes two public methods, so one of them does behave like that, we could use it instead if you prefer?

Alternatively, we could put stuff inside the methods to look for properties on the environment if an argument is not specified?

[2012-09-13 22:00] ForbesLindesay commented on #14
I tried having a go at this on a branch, but it's not passing unit tests.  May be worth deferring this to the following release.

To make this work we'll need to have some way of detecting the dependencies needed for compiling a certain file format.  Ideally consolidate-build would provide these in an array, and I'm happy to do that for `less` `sass` `markdown` etc.  but I need agreement from @vis

[2012-09-13 22:00] ForbesLindesay commented on #14
P.S. I created an issue for that error thowing problem https://github.com/visionmedia/consolidate.js/issues/59

[2012-09-13 22:04] ForbesLindesay opened #24 "Handle partials and layouts better"
It would be good to have a discussion at some point around how to best handle partials/includes and layouts.  We need a generic way of detecting that dependency graph, so we can know when to re-compile.  Another nice to have would be to detect templates that only didn't compile because they're used as partials in something else and aren't intended to be compiled on their own.

[2012-09-13 22:21] karthikv commented on #14
I'm having second thoughts about going through with this. It seems to be quite a bit of trouble, as we need to involve others and get modifications to external libraries. I can see why people might not want so many dependencies, but waiting 10 seconds for them to install really isn't a big burden. It also makes it difficult to run unit tests on Travis, as we'll need some way of instructing it to a

[2012-09-13 22:54] ForbesLindesay commented on #14
The problem is it's fine as a very opinionated framework, but not when we want to keep this un-opinionated.  At the moment we just install jade, coffee-script and stylus.  If you want those three, great, it's installed them for you.  If we install all possible template engines it won't be 10 seconds, it'll be 10-15 minutes (potentially for every re-install/update).

If we go the other route, and d

[2012-09-14 04:47] karthikv commented on #14
Yes, but I'm not interested in developing our own version of squirrel. It seems much more logical to me to focus on other features rather than this dynamic dependency management.

I do agree with you, however, that it should be easy for the user to install dependencies manually. Perhaps something like `nodefront add-template jade` for the feature you describe.

As for being unopinionated, I see no

[2012-09-14 16:16] ForbesLindesay commented on #14
Getting an error that just says the module was not found makes it really hard for the user.  If we made it just print `You must run npm install -g [template]` then terminate the program, it would at least be obvious how to go about using those  other templating libraries.  The code required to implement something similar to squirrel is tiny, and could live in another module which I'd happily maint

[2012-09-20 09:20] trnc-ck commented on #21
any news on this?

[2012-10-05 04:00] karthikv commented on #21
I apologize for the delay; I've just released version 1.0.0, which adds in support for compile options. See https://github.com/karthikv/nodefront#configuration-files for documentation.

Let me know if you experience any issues and I'll get on it!

[2012-10-16 21:21] ghost opened #25 "Can I compile into another directory?"
Can I compile jade and styl files into a different directory from where they are located? e.g. If I keep stylus files under /assets/styl, I would like them to be compiled into /public/css etc.

[2012-10-18 03:08] notslang commented on #25
+1 this would be a great feature
...like if an `output-dir` option could be passed to specify a directory to output to (defaulting to the same directory as the source files if it is not specified)

[2012-10-18 03:11] karthikv commented on #25
This is currently unsupported, but it is the next action item on my list. I'll let you know when it is implemented and released.

[2012-10-18 03:18] notslang commented on #21
In the config file, shouldn't you specify what compiler the options are going to be passed to? So support for more compilers can be added, allowing different options to be passed to each one.

So the file could look like:

[code]

[2012-10-18 03:23] karthikv commented on #21
Ah, yes, you make a good point. I'll reopen this issue and let you know when I've addressed it.

[2012-10-18 22:45] gavinmcfarland commented on #25
Yep, this would be great. +1

[2012-10-20 21:45] notslang opened #26 "option to exclude files from compile"
It would be very useful to be able to exclude files from compiling because, in my current project, I have many files that are only part of a layout (much like what is described in issue #24) and cannot be compiled on their own.

Excluding files could probably be done with a white-list given as a parameter of the nodefront command. Like: `nodefront compile -w index.jade` or for multiple files `node

[2012-10-20 21:50] notslang commented on #26
For being used in the serve command, I think that this would conflict with the way that port numbers are passed, so the syntax should be changed to use -p or --port to specify the port number, like this: `nodefront serve -p 5000 index.jade`

[2012-10-23 02:54] karthikv commented on #25
Version 1.0.1, which was just released, adds support for compiling into another directory by means of the `-o/--output` option. See https://github.com/karthikv/nodefront#options.

[2012-10-23 02:54] #25 closed, assigned to karthikv

[2012-10-23 02:55] karthikv commented on #21
Version 1.0.1, which was just released, adds support for extension-specific compiler options. See https://github.com/karthikv/nodefront#configuration-files.

[2012-10-23 02:55] #21 closed, assigned to karthikv

[2012-10-23 02:59] karthikv commented on #23
Let's keep it as is for now and, if we need the added flexibility, we can use the public methods that you exposed.

[2012-10-23 02:59] #23 closed, assigned to karthikv

[2012-10-23 04:10] notslang opened #27 "using old versions of modules"
Nodefront installs with jade `0.26.3` (which is an old version). The current version is `0.27.6`. This should be an easy fix by changing `package.json` to just require a version of jade that is `>= 0.26.3`, rather than restricting jade to be within `0.26.X`.

[2012-10-23 06:59] ghost commented on #25
This is great!

[2012-10-23 11:24] ForbesLindesay commented on #25
:+1:

[2012-11-06 18:38] smussell opened #28 "Crashes on error on Mac with node 0.8.14."
The following error is occurring when trying to run nodefront on a clean install.

end is deprecated, use done instead. Error
    at Object.exports.nextTick [as end](/usr/local/share/npm/lib/node_modules/nodefront/node_modules/q/q.js:419:85)
    at makePromise.(anonymous function) [as end](/usr/local/share/npm/lib/node_modules/nodefront/node_modules/q/q.js:633:34)
    at Command.withSettings (/usr

[2012-11-06 22:11] karthikv commented on #28
This seems to be a problem with version 0.8.10 of [kriskowal/q](https://github.com/kriskowal/q), which for some reason seems to break backwards compatibility with `.end()`. I've just released version 1.0.2 of nodefront which only uses q at version 0.8.9. Let me know if you continue to experience issues.

[2012-11-06 22:26] ForbesLindesay commented on #28
Yeh, we should ideally start moving over to the new `.done()` method, as `.end()` is deprecated, but I'm curious to find out how backwards compatibility has been affected.

[2012-11-06 23:20] domenic commented on #28
There are two things going on here:

The first stack trace is not an error. The deprecation warnings have a stack trace, and that's what you're seeing.

The second error is indeed a minor backward-compat issue, because you are using Q a bit strangely. When `env.compile` is falsy, you guys do

[code]

to try to get a resolved promise. But `deferred.resolve()` was never meant to return a promise; in

[2012-11-06 23:39] karthikv commented on #28
Ah, yes, I understand. Thanks @domenic. I'll get this fixed and revert back to 0.8.x shortly.

[2012-11-10 03:50] karthikv commented on #28
I've updated all `.end()` calls to `.done()` and fixed the fulfilled promise issues. Let me know if you run into any further problems.

[2012-11-10 03:50] #28 closed, assigned to karthikv

[2012-11-14 16:33] Deraen opened #29 "Compilations fails when using serve -c"
When serve() calls compile()  (at line 38 file serve.js) it doesn't specify output-property for env-parameter.
- compile() calls generateCompileFn and uses env.output (undefined) for directory parameter
- at line 244 generateCompileFn uses the directory parameter but as it is undefined:

[code]

[2012-11-15 13:01] ghost opened #30 "Error "Error parsing your JSON configuration file" does not say where the file is located"
When unable to parse the config file any subsequent use of the nodefront commandt fails with this error.

In my case I've added a library interactively, but the url did not include the protocol part, e.g. "http", or maybe it's because I forogot to add v before {{ version }}... not sure. Reinstalling nodefront using npm seem to solve the problem.

[code]

Full error:

[code]

[2012-11-15 14:13] ForbesLindesay commented on #30
Looking at the site of the error, the file being parsed is `/usr/local/share/npm/lib/node_modules/nodefront/libraries.json` which should be installed when you install nodefront.

[2012-11-15 20:44] ghost commented on #30
Yes, I saw that, and in my case it was empty.... under ~/.npm/.... though I could see the default content, with nothing to do with me trying to add a new lib.

[2012-11-19 05:45] karthikv commented on #30
I'm going to assume for now that this isn't a problem with nodefront, but rather some issue specific to your machine or installation process. Feel free to reopen if this occurs again or seems to affect others.

[2012-11-19 05:45] #30 closed, assigned to nobody

[2012-11-19 05:45] karthikv commented on #29
Ah, yes. Good catch; I'll get this fixed soon.

[2012-11-24 02:35] karthikv commented on #29
Apologies for the delay; this has been addressed in the latest 1.0.4 release (see commit above). Let me know if you continue to experience issues with the updated release.

[2012-11-24 02:35] #29 closed, assigned to karthikv

[2012-11-26 23:42] dvdvck opened #31 "ncall is deprecated"
Hi there,
I got this output when I run

[code]

these are the versions

[code]

[2012-11-27 04:49] ForbesLindesay commented on #31
That's an issue caused by an update in Q and should be pretty quick to fix.

[2012-12-06 20:59] anthonyringoet commented on #31
Same here on
node v0.8.7 and nodefront v1.0.4

[2012-12-06 22:03] rosner commented on #31
+1 with latest versions

[2012-12-22 22:29] karthikv commented on #31
Apologies for the delay. I've taken care of this by freezing Q at version 0.8.10. This change has been released in nodefront v1.0.5. Please re-open this issue if you continue to experience problems.

[2012-12-22 22:29] #31 closed, assigned to nobody

[2012-12-23 18:54] JogoShugh opened #32 "Prevent Jade embedded in script tag from compilation? (Contains simple workaround)"
I'm not sure really if this is an issue or not, but thought I'd describe it and my workaround:
## Goal

My goal is to have index.jade on my local machine where I can write code in Jade, then compile it to HTML for including in a mobile app that will run offline without Node serving it.

But, I also want to use Jade templates locally in the client. I achieved that using the jquery.jade plugin avail

[2012-12-23 18:58] ForbesLindesay commented on #32
Jade templates can be pre-compiled into a JavaScript function, I'd recommend you do that at build time as it will result in much better performance on the clients.

[2012-12-23 18:59] ForbesLindesay commented on #32
Either way, if you want a better solution to this problem (or to publicise your workaround) you should create an issue in the [jade repositoriry](https://github.com/visionmedia/jade) as this has nothing specifically to do with nodefront and everything to do with jade.

[2012-12-23 18:59] #32 closed, assigned to nobody

[2012-12-25 23:01] notslang commented on #27
...also using an old version of stylus

[2012-12-27 01:45] karthikv commented on #27
Thanks for pointing this out; I've allowed for the latest versions of jade/stylus/coffee-script as per your suggestion. This has been released in version 1.0.6. Let me know if you continue to experience issues.

[2012-12-27 01:45] #27 closed, assigned to nobody

[2013-01-12 23:18] rokf opened #33 "SASS files compile to BLANK CSS"
I have this issue where nodefront compiles my SASS file to a blank CSS. The CSS file has 4 blank lines if the SASS file has 4 lines of code for example.

I've installed SASS via: sudo npm install -g sass

[2013-01-22 15:20] notslang opened #35 "Installation Issue"
I tried to install nodefont on a fresh Ubuntu install today, but got the following error:

[code]

...bunch of dependencies, all ok...

[code]

[2013-01-22 15:43] notslang commented on #35
Oh, wait... the version of node I'm running is outdated! (even though I all my packages like 2 minutes ago)

[2013-01-22 15:43] #35 closed, assigned to nobody

[2013-01-29 16:41] ForbesLindesay commented on #33
Can you give some sample code that exhibits this problem?

[2013-01-29 18:22] ForbesLindesay commented on #24
I'd like to suggest that we detect dependencies by compiling files one at a time with hooks in all of the file-system methods.

[2013-01-29 18:24] ForbesLindesay commented on #14
Once #36 is merged this will be a trivial change.  We will just need to switch to rendering files one at a time rather than in parallel and install [load-engine](https://github.com/ForbesLindesay/load-engine)

and then call:

[code]

Instead of:

[code]

[2013-01-30 16:22] rokf commented on #33
![nodefronterror1](https://f.cloud.github.com/assets/2836852/111517/102af5f0-6af9-11e2-9305-542158c8a1f6.png)

Using 'nodefront compile' gives this

![nodefronterror2](https://f.cloud.github.com/assets/2836852/111518/14a98664-6af9-11e2-813f-fa50154423bc.png)

[2013-01-30 16:39] ForbesLindesay commented on #33
We use [visionmedia/sass.js](https://github.com/visionmedia/sass.js/issues) to render SASS, so the best bet would be to submit an issue over there (since it doesn't work even when using that library directly).

Alternatively, https://github.com/docpad/docpad-plugin-sass seems to use the official ruby gem.  You could adapt their code and provide a nice simple API.  If you can do that I'll happily s

[2013-02-03 09:31] karthikv commented on #14
I'm still not convinced that this is necessary, based off my previous logic; it can break Travis, it adds extra complexity, and it doesn't really provide more convenience. Running one `npm install -g [library]` command is all one needs to do. Additionally, I looked over load engine, and it doesn't seem to have any tests confirming that it works.

[2013-02-03 09:33] karthikv commented on #24
That seems complicated, but it is a possibility. Do you know of an easy way to accomplish it?

[2013-02-03 10:56] ForbesLindesay commented on #14
I'll add some unit tests, so far all I've done is manual testing.  The problem is not that `npm install -g [library]` requires an additional command, the problem is:
1. If you install a dependency like that you skip all the nice features of npm's nesting model and are forced to make that dependency globally installed.
2. At the moment nodefront has a lot of pretty hefty dependencies as a result of

[2013-02-03 11:08] ForbesLindesay commented on #24
I haven't seen anything which does it for the whole file-system yet (but I see no reason not to do so).  [sinon-js](http://sinonjs.org/docs/#stubs) is pretty useful for this kind of thing:

[code]

I think we'd want to put this in a separate 'watch-fs' library.

[2013-02-03 15:06] ForbesLindesay commented on #14
`load-engine` now has very thorough unit tests and travis-ci integration enabled.

[2013-02-03 20:23] karthikv commented on #24
I've used sinon before for testing, but I'm unsure whether it works across modules. In other words, does the stub propagate throughout the program, even to modules that have potentially been cached already? If it does, then this looks like a clean solution!

[2013-02-03 20:31] karthikv commented on #14
All right, I'm convinced by your logic, given that you can get this to work with Travis and not make the code overly complex (judging by the simple interface you have for load engine, the latter won't be an issue).

Go ahead and dynamically load all packages you think don't need to be installed by default. I'll look over the changes once you post them.

[2013-02-03 21:50] ForbesLindesay commented on #24
If someone's done something like:

[code]

before we insert the mock, then it won't work, but if they just do:

var fs = require('fs');

It'll work fine.

We should just be able to insert mocks when `nodefront` starts anyway though so they'll be before anything can cache them.  It might be better not to use sinon though on second thoughts because I think sinon caches the calls forever.  The logic

[2013-02-19 02:41] makotot opened #37 "Can't i use non-utf8 html file with nodefront's serve command?"
Charactor code in my project is shift-jis.
When i use serve command, nodefront automatically set the charactor code to utf8.
Therefore, html is garbled when viewed in browser.
Is there any solution?

thanks.

[2013-02-19 02:43] ForbesLindesay commented on #37
Usually you'd set it with `<meta charset='utf-8'>`.  Anything other than utf-8 should probably require a very good reason though.  Do you really need characters that can't be represented in utf-8?

[2013-02-19 03:06] makotot commented on #37
I think some chinese characters cannot represent in utf-8, and I have to think about it.

[2013-02-19 04:03] ForbesLindesay commented on #37
I think utf8 aims to have pretty good support for chinese characters.

[2013-02-19 05:00] karthikv commented on #37
Nodefront does default to UTF8 when calling [response.write()](http://nodejs.org/api/http.html#http_response_write_chunk_encoding). Could you provide me with an example file that triggers the issue? That way, I can test to see what's causing the problem and find a solution.

[2013-02-19 05:49] makotot commented on #37
@karthikv

Like the following html, some characters cannot represent in utf-8.
Therefore, i cannot use utf-8.

[code]

The character "髙" is used in the last name of the japanese.
The character "㈱" is a symbol that represents the corporation.

[2013-02-19 16:55] ForbesLindesay commented on #37
Odd that they both display fine here though (since this web-page is utf-8)?

[2013-02-20 01:31] makotot commented on #37
@ForbesLindesay

The reason why they are not garbled is because this web-page's character code is utf-8.
If the character code is shift-jis, they are garbled (in chrome browser, 『鬮』 and 『繹ｱ』).

[2013-02-20 01:35] ForbesLindesay commented on #37
In which case the problem is not that some of your stuff is in utf-8 it's that some of your files are in shift-jis.  I'd recommend you simply convert them to utf-8 and use that.  You'll find utf-8 has much better support in tooling, web-browsers etc.

[2013-02-20 01:46] makotot commented on #37
My explanation is not so good.
Since there is no decision of character code in the project to me, utf-8 is not available.

[2013-02-21 22:52] ForbesLindesay commented on #37
My advice would be to produce a utility to do the conversion into utf-8 and just run that before running nodefront.  Nobody should be trying to use legacy text file formats.

[2013-02-25 00:04] gabovanlugo commented on #33
Same issue here, but still, I'm using sass command in another console, but no css injection :(

[2013-03-20 14:23] makotot commented on #37
Sorry for the late reply.
Thank you give me advice.

I have run into situations where I think the problem is probably not related to character code.
I will check again.

[2013-03-20 14:23] #37 closed, assigned to karthikv

[2013-03-24 10:41] olliebennett commented on #26
My only suggestion for implementing a blacklist would be to exclude the **`node_modules`** folder, for those of us who prefer not to install nodefront (and other modules) globally.

To comment on your whitelist suggestion, the `-w` flag means `--watch`, so we'd need to reconsider that choice.

[2013-03-24 11:53] ForbesLindesay commented on #26
I think we could safely add `node_modules` as an implicit blacklist that's enforced whether you like it or not.

"grep" is the word you're looking for as far as specifying a white-list goes.

If we're going to use the word "grep" we should use [minimatch](https://github.com/isaacs/minimatch) to give it unix like filtering semantics.  One of the nice things is that this automatically supports white

[2013-04-05 17:15] rokf opened #38 "ERROR with js-yaml @ nodefront installation"
I am getting some kind of error with <b>js-yaml</b> at the installation of nodefront. Any ideas?

<b>sudo npm install -g nodefront</b> results in:

Error: ENOENT, chmod '/usr/local/lib/node_modules/nodefront/node_modules/commander-config/node_modules/js-yaml/bin/js-yaml.js'

My node version is <b>v0.10.1</b> and my npm version is <b>1.2.15</b>

<b>error</b> path /usr/local/lib/node_modules/nodefro

[2013-04-05 17:24] rokf commented on #38
Solved just now :smile:
Was some kind of <b>npm</b> error like it seems.

Did it like this:

<b>Remove the yaml directory:</b>
$ sudo rm -rf ~/.npm/js-yaml

<b>And clear the cache:</b>
$ sudo npm cache clear

<b>And then:</b> sudo npm install -g nodefront

Worked like a charm!

[2013-04-06 06:25] karthikv commented on #38
Good to hear! I'll keep your solution in mind if others run into the issue.

[2013-04-06 06:25] #38 closed, assigned to nobody

[2013-04-10 15:20] Zshazz opened #39 "Support Literate CoffeeScript"
Recently CoffeeScript has added a new feature: [Literate CoffeeScript](http://coffeescript.org/#literate).

Literate CoffeeScript (files ending in `.litcoffee` or `.coffee.md`) should be supported in much the same way as normal CoffeeScript files are supported now.

[2013-04-11 04:33] karthikv commented on #39
Nodefront uses [consolidate-build](https://github.com/ForbesLindesay/consolidate-build) for all language compilers. @ForbesLindesay could you add Literate CoffeeScript support there?

[2013-04-11 10:19] ForbesLindesay commented on #39
Actually, we switched, we're now using [transformers](https://github.com/ForbesLindesay/transformers).  If you open a pull request I'll try and merge it.  My guess is there should be a `litcoffee` transformer which should be very similar to the coffee-script transformer.

[2013-04-12 07:29] karthikv opened #40 "Swig Root Directory"
The swig engine needs to have its root directory set properly to allow one to use the `{% extends '...' %}` directive. This can be done like so:

[code]

@ForbesLindesay could you add a way to configure swig in this manner? Passing compiler options doesn't work for setting the root; this must be done with the `init` function. See http://paularmstrong.github.io/swig/docs/.

We'd preferably like the

[2013-04-22 08:35] Somebi opened #41 "Error while minify recursively"
root@mydomain:/# nodefront minify /home/cms/mydomain/public/test/

Automatically adding recursive option because file target looks to be in another directory.

/usr/local/lib/node_modules/nodefront/node_modules/q/q.js:1440
                throw error;
                      ^
Error: ENOENT, stat '/dev/core'

[2013-04-22 08:45] Somebi commented on #41
As i understand from the context. q.js is a module RCP like, to communicate with nodefront. But it's requesting /dev/core which i doesn't have on my Ubuntu. What is /dev/core?

[2013-04-22 08:49] Somebi commented on #41
Oh actually it's there, that's the symlink to /proc/kcore . But it seems /proc/kcore is missing. o_O

[2013-04-22 08:54] Somebi commented on #41
Hmm it seems it's a link to physical memory, through which communication i going on?

[2013-04-22 09:12] Somebi commented on #41
There is no /proc/kcore on my system.
Using:
Distributor ID: Ubuntu
Description:    Ubuntu 12.10
Release:        12.10
Codename:       quantal

[2013-04-24 02:27] karthikv commented on #41
Don't run minify from your root directory. Nodefront detected that the file you wanted to minify was in a subdirectory, and added the recursive option, meaning that it will search all files in your root directory for those that match the regular expression "/home/cms/mydomain/public/test/".

Instead, cd to the "/home/cms/mydomain/public/test/" directory and just run `nodefront minify -rcji` to min

[2013-04-24 02:27] #41 closed, assigned to nobody

[2013-04-24 08:33] Somebi commented on #41
So nodefront support only "current directory" feature? No absolute paths? Only relative? I'm confused.

[2013-04-24 08:35] Somebi commented on #41
So if i have javascript files in another folder and images too, i have to run spawn two more processes instead of one. Sounds unreasonable...

[2013-04-24 08:36] Somebi commented on #41
But anyway, thanks for your great tool. Saved me some time. Wanted to start writting something myself. Probably will fork later. ;)

[2013-04-24 12:46] ForbesLindesay commented on #41
Just use paths relative to the root of your project, not the root of your hard drive/computer.  Then run nodefront in the root of your project.  Absolute paths for things like this are generally an anti-pattern as they make code less portable (It can't easily be moved from one folder/computer to another)

[2013-04-24 13:24] Somebi commented on #41
Ok ok, didn't knew such specifics.

[2013-04-24 13:26] ForbesLindesay commented on #41
This is true of how most command line tools work :smile:

[2013-07-22 10:04] tborychowski commented on #31
I started getting this issue after socket.io update, when I run: nodefront serve
node version: 0.10.13
nodefront 1.0.7
socket.io: 0.9.16

[2013-07-26 09:24] tborychowski commented on #31
Issue still persist in node v0.10.15

[2013-07-29 04:53] karthikv commented on #31
What's the backtrace you're getting? You said you're seeing this issue after a socket.io update, so perhaps this is on socket.io's end.

[2013-07-29 14:07] tborychowski commented on #31
Hi,
Here's the log.
The strange thing is - that it does "serve" the project (seems to work as before) but it still prints these errors...
I don't know enough to say what's causing the issue. I guess it is possible that this is socket.io's fault :-)
Anyways, thanks for your help and excellent project!

[code]

[2013-07-30 04:36] karthikv commented on #31
This is merely a warning, and not an error; everything will continue to work fine.

This looks to be entirely in commander-config. @ForbesLindesay, can you update your calls or freeze the version of q to 0.8.10?

[2013-08-21 16:32] tborychowski opened #42 "system resources"
I'm experiencing a lot of resource usage on windows:
![2013-08-21_173047](https://f.cloud.github.com/assets/392513/1002585/1cd888f0-0a7f-11e3-8c12-0462607c8c9c.png)
It constantly oscillates around 20-24% (and it's a quad core dell).
 The command is:

[code]

Might that be due to a huge number of files in the particular folder (around 1400)?
(the folder also contains node_modules)

[2013-08-21 18:14] karthikv commented on #42
What command are you running, and how many files are in your folder?

[2013-08-22 10:23] tborychowski commented on #42
Sorry, forgot to mention. The command is:

[code]

and there are around 1400 files (including node_modules)

[2013-08-27 07:23] karthikv commented on #42
If you're using the `serve` command without any options, then I don't see why it's taking up so much CPU. We're simply using the built-in `http.createServer()` function that node provides. Furthermore, we're only reading files on an on-demand basis when a request is made, so it shouldn't matter how many there are. Can you try seeing how much CPU a hello world server (such as the one on the node.js

[2013-08-27 08:43] tborychowski commented on #42
Hi karthikv,
The node test server (the one from the homepage) uses almost no resources (no processor and some 14MB ram).

However I've done some more testing and it seems that the huge load is caused by the `-l` parameter.
- If I run only `nodefront serve` it is the same as the demo server (almost no resources)
- If I run `nodefront serve -l` it get's heavy (sorry that I've missed the switch in ea

[2013-08-29 02:37] karthikv commented on #42
Yes, the -l option has to monitor all files in the current directory for modifications. If you have 1400 files, it's definitely going to use a decent amount of CPU and RAM.

[code]

On Tue, Aug 27, 2013 at 1:43 AM, Tomasz Borychowski
notifications@github.com wrote:

[2013-08-29 06:34] tborychowski commented on #42
The project itself is very small (10 files) but it uses grunt to build js/less and grunt requires node_modules...
Would it be possible to exclude node_modules from monitoring? That would probably solve more issues (e.g. #26).

[2013-08-30 05:51] karthikv commented on #42
Is it possible to simply move the files you'd like to serve into a separate directory where node_modules is not present? Alternatively, you can move node_modules up one directory and you'll still have access to grunt without the file bloat.

[2013-08-30 08:15] tborychowski commented on #42
Currently grunt doesn't allow node_modules from a different path (or parent folder), so no, it's not simple, but achievable (I'd need to move all files to a child dir, except node_modules, gruntfile.js and package.json and then update paths gruntfile.js).

As I'd have to do this for a dozen of small projects, I think I'll just stick to hitting `F5` instead and not use `-l` switch...

[2013-09-20 12:08] leoyuholo opened #43 "line number does not shown when compilation fail"
By using -w to watch a directory, when compilation fails, it does not give the line number of the code document that causes the failure.

It currently gives something like this:

Compilation error for sample.coffee: unexpected PARAM_START

without line number. And have to run coffee -c to debug separately.

[2013-10-03 01:03] d-g-h opened #44 "Prettify jade on serve -c -l"
Serve prettified jade on (1.0.7)

[code]

This would be nice ideal. Not sure why it's only working for the compile command. I am missing something?

[2013-11-01 19:50] joshcoodydesign opened #45 "Support for Sass"
The https://github.com/visionmedia/sass.js/ project no longer exists, so how might we go about compiling Sass with nodefront?

[2013-11-05 00:50] karthikv commented on #45
Nodefront uses transformers (https://github.com/ForbesLindesay/transformers) for compilation, which in turn employs sass.js. @ForbesLindesay can you update the sass library? node-sass (https://github.com/andrew/node-sass) looks like a good alternative.

[2013-11-06 16:12] ForbesLindesay commented on #45
I'd accept a pull request

[2013-12-19 22:33] gavares commented on #33
I realize this issue is 10 months old but I just ran into it as well. It seems that [visionmedia/sass.js](https://github.com/visionmedia/sass.js/issues) is now returning a 404.

Is nodefront still using this library?
If not, what is it using now?
Has there been any workaround found for this issue?

[2014-01-24 09:19] shanielh opened #46 "Swig Compile -w / Serve -c -l doesn't work well."
HTML compiled files aren't updated.

[2014-01-24 21:08] karthikv commented on #46
Could you send over some sample files that I can use to reproduce the issue?

[2014-01-24 23:01] shanielh commented on #46
Created index.swig (Empty file), Run :
![screen shot 2014-01-25 at 11 21 25 am](https://f.cloud.github.com/assets/746471/2001334/1faf5cae-85a2-11e3-91ad-d8fdfe64da19.png)

index.html file is an empty file (As expected),
Updated index.swig content to "Hello World",
Nodefront console wrote "Compiled index.html."
index.html content is still an empty file,
After running nodefront again (from the start

[2014-02-07 01:58] ghost commented on #30
This appears to be from https://github.com/flatiron/nconf

[2014-07-10 14:25] andreivolt opened #48 "CSS changes not picked up until the browser gets focus"
It seems it should, but CSS changes are only picked up when the browser gets focus.

PS: awesome tool!

[2014-07-14 21:01] karthikv commented on #48
Hmm, it seems to work for me, even when the browser is out of focus. What browser/version/OS are you using?

[2014-07-16 11:04] andreivolt commented on #48
Using Chromium 35 on Linux with a blank profile. I can confirm it works on Firefox 32a2.

Let me know if there's anything I can provide for debugging.

[2015-04-27 15:07] #42 closed, assigned to nobody

[2016-05-17 21:41] adamlabadorf opened #49 "Add pug support?"
Hi,

Great package. It seems that jade has been renamed to pug, but doesn't look like nodefront supports this yet. Are there plans to incorporate this change?

[2016-06-02 16:50] karthikv commented on #49
Would be happy to accept a pull request for it!

[2017-06-16 13:40] brianlayman opened #50 "REQ: --Watch option for minify"
Great tool. I love that it minifies css js AND images.  My only request would be a watch option be added to minify as well.  That would perfectly fit my need.

[2017-06-26 19:47] karthikv commented on #50
Glad you like it! :) Would be happy to accept a pull request for a minify watch option. Otherwise, you can use something like [`fswatch`](https://github.com/emcrisostomo/fswatch) to run `nodefront minify` when your files are changed.